<!doctype html>
<html>
<head>
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='css/base.css') }}'>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"> 
    {% block css %}{% endblock %}
    <script src='{{ url_for('static', filename='js/main.js') }}'></script>
    {% block js %}{% endblock %}
</head>
<body>
    <div id='navbar' class='navbar'>
    {% for navitem in navitems %}
        <a href='{{ navitem.href }}' class='navbar-item-link link'>
            <div id='{{ navitem.id }}-item' class='navbar-item {{ 'page-active' if navitem.active else '' }}'>
                <p>{{ navitem.name }}</p>
            </div>
        </a>
    {% endfor %}
    </div>
    <div class='primary-divider'></div>
    <div id='content'>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
