{% extends 'base.html' %}
{% block stylesheets %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
{% block header %}
    <div class='page-header'>
        <p class='header-title'> I am Rui Zhang </p>
        <p class='subtitle'> Full-stack developer and {{ subtitle|safe }} </p>
    </div>
{% endblock %}
{% block body %}
    <div class='home'>
        <div class='section' id='section-intro'>
            <p class='section-header'> About Me </p>
            <p class='text'>
                My name is Rui (pronounced Ray) Zhang and I am currently a senior at Rutgers University-New
                Brunswick pursuing a B.Sc. in Computer Science and Mathematics (resume <a class='text-link' href='https://www.dropbox.com/s/nvtbp6si16ng24b/rui_zhang_resume.pdf?dl=1'>here</a>). I have just recently
                completed an internship with Royal Bank of Canada (RBC) at their Jersey City office and will
                return to my employment at Rutgers-OIT Open Solution Systems, where I am tasked with
                developing Rutgers' university-wide Android mobile application and the backend services on
                which it relies on. Click <a class='text-link' href='/work#oss'>here</a> for an overview
                of what I do and have done.
            </p>
            <p class='text'>
                In addition, I also do quite a few projects. <a class='text-link' href='/projects'>
                Here are a few of them</a>. Most of my work, and what I am most comfortable with, is in
                backend development. I enjoy seeing and working on the pipeline between the data and the
                end user as well as what conclusions and insights that data can bring about a particular
                user, group, or dataset. However, when the time calls, I am just as comfortable diving into
                that frontend and writing out some CSS, HTML, and Javascript.
            </p>
            <p>

            </p>
        </div>
        <div class='section' id='section-edu'>
            <p class='section-header'> Some Classes That I Enjoyed </p>
            <ul>
                <li> <span class='bold text'> Distributed Systems (01:198:417) </span> Allowed me to better understand how machines and clusters communicate, scale, and deal with failures </li>
                <li> <span class='bold text'> Design and Analysis of Computer Algorithms (01:198:344) </span> Gave me an in-depth look and a greater understanding of the strengths and weaknesses of algorithms and how to apply them in different situation </li>
                <li> <span class='bold text'> Principles of Information and Data Management (01:198:336) </span> and <span class='bold'> Database Implementation </span> Two classes which gave me a lot of insight into the interworkings of the backbone of every system. While I may never build my own database, it did give me a better understanding of how to optimize SQL/NoSQL DBs to be more efficient. </li>
                <li> <span class='bold text'> Introduction to Artifical Intelligence (01:640:440) </span> I took this class expecting to because I wanted to work with artificial intelligence. I came out of it wanting to work with Big Data because I learned that is what I really wanted to do. </li>
                <li> <span class='bold text'> Operating Systems (01:198:416) </span> While I do not really see myself doing any OS programming in the near future, this class is extremely useful to me whenever I am doing low-level programming such as using C/C++ and working with microprocessors. The information about memory management is also very helpful in understanding garbage collectors of various languages, interpreters, and compilers (especially those times when the JVM starts leaking memory).
                <li> <span class='bold text'> Computer Architectures (01:198:211) </span> I learned how C works and found myself oddly enjoying it. Assembly and the Execution Stack were also pretty cool. </li>
        </div>
        <div class='section' id='section-skills'>
            <p class='section-header'> What I Can Do  </p>
            <div class='skills-list'>
                {% for category in skills %}
                    <div class='skills-sublist'>
                        <div class='skills-category-header'> {{ category[0] }} </div>
                        {% for item in category[1] %}
                            <div class='skill-element-container' id='skill-{{ item.name }}'>
                                <div class='skill-name text' id='skill-{{ item.name }}-text'><p> {{ item.text }} </p></div>
                                <div class='skill-rating' id='skill-{{ item.name }}-rating'>
                                    {% for i in range(item.rating) %}
                                        <div class='skill-rating-dot level-{{ i }}'></div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <p style='font-size: 12px;'> (5 - I can do it if StackOverflow goes down,
                 4 - I can do it but might need the docs,
                 3 - I can do it but I will definitely need the docs,
                 2 - I have touched it once,
                 1 - I know that it exists) </p>
        </div>
    </div>
{% endblock %}
