{% extends "base.html" %}
{% block content %}
<h1> Projects </h1>
{% for project in projects %}
<div class='text-block'>
    <h4 class='text-block-header project-block-header'> {{ project.title }} ({{ project.duration }}) </h4>
    <p class='text-block-text'> {{ project.text }} </p>
    <div class='tech-list'>
    {% for tech in projects.techs %}
        <div class='tech' style='background: {{ tech.bg }}; color: white;'> <p> {{ tech.text }} </p> </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
