{% extends 'base.html' %}
{% block stylesheets %}

{% endblock %}
{% block scripts %}

{% endblock %}
{% block header %}
    <div class='page-header'>
        <p> Where Have I Worked? </p>
    </div>
{% endblock %}
{% block body %}
    <div class='content'>
        <div class='subsection' id='rbc'>
            <p class='subsection-name bold'> Summer Technical Analyst @ Royal Bank of Canada (RBC) Capital Markets (Jun. 2018 - Aug. 2018) </p>
            <p> RBC Capital Markets (RBCCM) offers investment and finance services to corporations and is the only part of RBC that operates within the United States. In an effort to adapt to a rapidly changing market and stay ahead of the curve, RBCCM is heavily dependent on technology and as such has hundreds of various internal apis and libraries that are used by RBCCM as well as other parts of RBC such as Investor and Treasury Services (I&TS). As such, the 2018 Intern Group was tasked with building a centralized API Catalogue in order to provide a central repository of existing APIs and its documentation. We worked in a Scrum environment that helped us to meet deadlines and deliverables through two-week sprints. At the end of our sprints, we were tasked with presenting our results to upper management. </p>
        </div>
        <div class='subsection' id='oss'>
            <p class='subsection-name bold'> Mobile Developer @ Rutgers University EAS - Open Systems Solutions (Jan. 2017 - Now) </p>
            <p> Open Systems Solutions is a team under the Office of Information Technology at Rutgers University. It is fully staffed by students from all levels,
            graduate and undergraduate, and encompasses majors from computer science to material science to graphic design. I currently work as their Mobile Developer,
            primarily responsible for the Rutgers Mobile Application. However, I have always been very interested in backend development and serverside work.
            Therefore, I soon also did development on our backend. Since August I have been the primary developer of the Android application and the server.
        </div>
    </div>
{% endblock %}
