{% extends 'base.html' %}
{% block stylesheets %}

{% endblock %}
{% block scripts %}

{% endblock %}
{% block header %}
    <div class='page-header'>
        <p> Where Have I Worked? </p>
    </div>
{% endblock %}
{% block body %}
    <div class='content'>
        <div class='subsection' id='oss'>
            <p class='subsection-name bold'> Mobile Developer @ Rutgers University EAS - Open Systems Solutions (Jan. 2017 - Now) </p>
            <p> Open Systems Solutions is a team under the Office of Information Technology at Rutgers University. It is fully staffed by students from all levels,
            graduate and undergraduate, and encompasses majors from computer science to material science to graphic design. I currently work as their Mobile Developer,
            primarily responsible for the Rutgers Mobile Application. However, I have always been very interested in backend development and serverside work.
            Therefore, I soon also did development on our backend. Since August I have been the primary developer of the Android application and the server.
        </div>
    </div>
{% endblock %}
