$color-selected: #444444;
html {
    font-family: 'Cabin', helvetica, sans-serif;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 40%;
    display: flex;
    flex-flow: column;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
    margin: 0;
}

.navbar {
    width: 100%;
    height: 40px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.navbar-item-element {
    margin-left: 10px;
    margin-right: 10px;
}

.bold, .section-header, .page-header {
    font-weight: bold;
}

.section-header {
    font-size: 20px;
}

.page-header {
    font-size: 30px;
}

.active-tab {
    background: $color-selected;
    a {
        color: #ffffff;
    }
}

.navbar-item-element {
    height: 100%;
    width:  125px;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    transition: 0.7s all ease;
    a:not(.active-tab) {
        color: #000000;
    }
}

.navbar-item-element:hover {
    background: $color-selected;
    a {
        color: white;
    }
}

.text-link {
    color: #8aabe2;
}

.link-nt {
    cursor: pointer;
}

.deactivate {
    text-decoration: line-through;
}

a:link, a:visited {
    text-decoration: none;
}
