@import "./colors";

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", helvetica, sans-serif; }

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; }

#content {
    overflow: hidden; }

.navbar-item-link {
    color: $link-color-dark; }

.page-active {
    background: $primary-color;
    color: white; }

.navbar-item:hover:not(.page-active) {
    background: $primary-color-accent;
    color: white;
    transition: all 0.25s ease; }

a {
    text-decoration: none;
    color: $link-color-normal; }

#academia ul {
    list-style: none;
    padding-left: 0; }

h1 { font-size: 2em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }
