@import "./colors";

.contact {
    display: flex;
    flex-flow: row;
    width: 20em;
    margin: 0.75em 0 0.75em 0;
    align-items: center; }

img {
    width: 20px;
    height: 20px;
    margin-right: 10px; }

.contact-list {
    display: flex;
    flex-flow: column; }

.contact-link {
    margin: 0;
    color: $link-color-dark; }
