.contact-methods {
    display: flex;
    flex-flow: column;
    margin-top: 10px;
    width: 300px;
}

.contact-element, .contact-element a {
    display: flex;
    flex-flow: row;
    width: 100%;
    align-items: center;
    p {
        font-size: 12px;
    }
}

img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.contacts-link {
    display: flex;
    flex-flow: row;

    p {
        color: #000000;
    }
}

.contact-element:hover {
    cursor: pointer;
}

#copied-text {
    margin-right: -10px;
}
