.page-header {
    display: flex;
    flex-flow: column;

    .subtitle {
        font-size: 18px;

        a {
            color: #000000;
        }

        a:link a:visited {
            color: #000000;
        }

        a:hover {
            color: #666666;
            cursor: pointer;
        }
    }
}

.skills-category-header {
    font-size: 18px;
    font-weight: bold;
}

.skills-list {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
}

.skills-sublist {
    display: flex;
    flex-flow: column;
}

.skill-element-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 30px;
    p {
        margin-right: 20px;
    }
}

.skill-rating-dot {
    width: 10px;
    height: 10px;
    /*background: #8ccef2;*/
    margin-right: 10px;
    border-radius: 10px;
}

.skill-rating {
    display: flex;
    flex-flow: row;
    height: 15px;
    width: 100%;
}

.skill-name {
    width: 200px;
}

.level-0 {
    background: #ff6d6d;
}

.level-1 {
    background: #ffba6d;
}

.level-2 {
    background: #ffed6d;
}

.level-3 {
    background: #d5ff6d;
}

.level-4 {
    background: #6fff6d;
}
